@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

@font-face {
  font-family: "HUN";
  src: url("../fonts/pfw.ttf");
}

body {
  min-height: 100vh;
  text-align: center;
}

* {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
}

.app {
  display: flex;
}

.half {
  border-color: black;
  width: 50vw;
  height: 80vh;
}

#half1 {
  border-right: 1px #444 solid;
  overflow-y: scroll;
}

#vhalf1 {
  height: 50%;
  border-bottom: 1px #444 solid;
  padding: 0 5%;
}

#vhalf2 {
  height: 50%;
  padding: 5% 1%;
}

#ranks {
  overflow-y: scroll;

  width: 100%;
  max-height: 85%;
  min-height: 85%;
}

.a {
  justify-content: space-between !important;
}

.ranks_row {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  color: white;
  font-family: "HUN";
  font-size: 2vh;
  justify-content: space-between;
  padding: 0.2em 0.8em;
  border-radius: 15px;
  margin-bottom: 1em;
}

.ranks_row div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.ranks_row div img {
  height: 5vh;
  border-radius: 15px;
}

table {
  margin-left: 50%;
  transform: translate(-50%, 0);
}

table td img {
  height: 1.1em;
  clip-path: polygon(
    0.15em 0,
    calc(100% - 0.15em) 0,
    100% 0.15em,
    100% calc(100% - 0.15em),
    calc(100% - 0.15em) 100%,
    0.15em 100%,
    0 calc(100% - 0.15em),
    0 0.15em
  );
}

.input {
  width: 80%;
  margin-bottom: 0.8em;
}

.card {
  text-align: justify;
  padding: 0.8em;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 200ms;
  width: 100%;
  height: 25vh;
  font-family: "HUN";
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

.title-box > h4 {
  margin-bottom: 0 !important;
}

.avatar {
  width: 3em;
  height: 3em;
  border-radius: 15%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 90%;
  text-align: center;
  overflow-y: scroll;
}

.grid-entry h4 img {
  width: 1em;
  vertical-align: middle;
}

.grid-entry {
  margin-bottom: 1em;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-left: 50%;
  flex-wrap: wrap;
  transform: translate(-50%, 0);
  margin-top: 1.5rem;
}

.btns.is-spaced > button {
  margin-bottom: 0.8em;
}

.btns.is-spaced {
  justify-content: space-between;
}

.badges {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.badges img {
  height: 1.5em;
}

.ubox {
  display: flex;
  align-items: center;
  height: 3em;
}

.ubox h4 {
  margin-bottom: 0 !important;
}

.ubox img {
  vertical-align: middle;
  margin-left: 0.3em;
  height: 1.1em;
  clip-path: polygon(
    0.15em 0,
    calc(100% - 0.15em) 0,
    100% 0.15em,
    100% calc(100% - 0.15em),
    calc(100% - 0.15em) 100%,
    0.15em 100%,
    0 calc(100% - 0.15em),
    0 0.15em
  );
}

#api-outage-message {
  width: 80vw;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 900px) {
  * {
    scrollbar-width: unset;
  }

  *::-webkit-scrollbar {
    display: unset;
  }

  .app {
    display: block;
  }

  .half,
  .vhalf {
    border: none !important;
    width: 60vw;
    height: 80vh;
    margin-left: 50%;
    margin-bottom: 2em;
    transform: translate(-50%, 0);
  }

  #half1 {
    overflow-y: scroll;
  }

  #vhalf1 {
    height: 50%;
    padding: 0 5%;
  }

  #vhalf2 {
    height: 50%;
    padding: 5% 1%;
  }

  .hiddable {
    display: none;
    width: 0;
  }

  .btns {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .hiddable {
    display: none;
    width: 0;
  }

  .half,
  .vhalf {
    border: none !important;
    width: 90vw;
    height: 80vh;
    margin-left: 50%;
    margin-bottom: 2em;
    transform: translate(-50%, 0);
  }

  .btns {
    width: 80%;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  table {
    background-color: #2a2c30;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(236, 236, 236) !important;
  }

  .card {
    border: 2px #444 solid !important;
    box-shadow: 0 0.5em 1em -0.125em #111;
    background-color: #222;
  }

  .card:hover {
    border: 2px #666 solid !important;
  }

  .card > p {
    color: rgb(236, 236, 236);
  }

  #playername,
  #table {
    color: white !important;
    background-color: #222;
  }

  table,
  td,
  th,
  tr {
    border-color: #2a2c30 !important;
  }

  th {
    color: white !important;
  }

  ::placeholder {
    color: rgb(128, 128, 128) !important;
  }
}
